<!--The content below is only a placeholder and can be replaced.-->

<form [formGroup]="studentForm" #ngForm (ngSubmit)="onSubmit()">
  <div style="text-align:center" class="form-group" >
<label>First Name</label>
<input type="text" name="firstName" formControlName="firstName" class="form-control" (change)="funDisplay()"><br/><br/>
<label>Last Name</label>
<input type="text" name="lastName"  formControlName="lastName" class="form-control" (change)="funDisplay()"><br/><br/>

<label> your location</label>
<select formControlName="location" class="form-control" (change)="funDisplay()"> 
  <option>-select-</option>
  <option>chirala</option>
  <option>guntur</option>
  <option>hyderabad</option>
  
</select><br/><br/>
<label>select your gender:</label>
<input type="radio" formControlName="gender" name="gender" value="male" (change)="funDisplay()">Male
<input type="radio" formControlName="gender" name="gender" value="female"(change)="funDisplay()" >Female<br/><br/>
<button type="submit">save</button>
  </div>
  <table border="1">
    <tr>
      <td>firstName</td>
<td>lastName</td>
<td>location</td>
<td>gender</td>
    </tr>
    <tr *ngFor="let std of student; let i = index"   >
      <td>{{std.firstName}}</td>
      <td>{{std.lastName}}</td>
      <td>{{std.location}}</td>
      <td>{{std.gender}}</td>
      <button (click)="Display(i)" >edit</button>
    </tr>
  </table>
</form>




