/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli.400.700');
/* body{
    background:#e8e8e8;
    font-family: 'Muli'; 
} */
.alert{
    background: #f2edda;
    padding: 7px;
    font-size: 1em;
    margin-bottom: 9px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}
@keyframes alertAnim{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
}